<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508404251811-vk1o0t0p3pee1lb24cr3g8dnv3be2ih0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508404251811-vk1o0t0p3pee1lb24cr3g8dnv3be2ih0</string>
	<key>API_KEY</key>
	<string>AIzaSyCfS4bbLJweXQ43CpUAuXWkorW8v2CDorY</string>
	<key>GCM_SENDER_ID</key>
	<string>508404251811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maya.NoteIt</string>
	<key>PROJECT_ID</key>
	<string>noteitfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>noteitfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508404251811:ios:44a4a6f2c5b0f8b3a71316</string>
</dict>
</plist>